{% extends 'rango/base.html' %}
{% load staticfiles %}
    {% block title_block %}
        Rango
    {% endblock %}

    {% block body_block %}
        <h1>This tutorial has been put together by Peng Zhao</h1>
        <div>
            hey there partner! <br /> 
            <p>visits: {{ visits }}</p>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Back to Index</a><br />
            <img src="/static/images/Rango.png" alt="Picture of Rango" /> 
        </div>
        <div>
            <img src="{{ MEDIA_URL}}cat.jpg" />
        </div>
    {% endblock %}

